<div class="container mt-4">
    <h3 class="text-center mb-4">Khoá học của tôi</h3>
    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col">Tên chương trình</th>
                <th scope="col">Nhận xét</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col" class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row" class="text-center">{{ sum @index 1 }}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.created_at}}</td>
                <td class="text-center">
                    <a href="/courses/{{this._id}}/edit" class="btn btn-sm btn-primary px-3 me-2">Sửa</a>
                    <form method="POST" action="/courses/{{this._id}}?_method=DELETE" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger px-3">Xóa</button>  
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
